<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="RestAssuredTests">

    <test name="RestAssuredTests">

        <groups>
            <run>
                <include name="Regression"/>
                <include name="SmokeTest"/>
                <include name="DB_Related"/>
                <!--exclude name=""/-->
            </run>
        </groups>

        <classes>
            <class name="Tests.GET_Methods"/>
            <class name="Tests.POST_MethodsTest"/>
        </classes>
    </test>

</suite>